flask
flask-sqlalchemy
flask-cors
werkzeug
pyjwt
pandas
networkx
spacy
transformers
torch
numpy
sentence-transformers
scikit-learn
pyvis
matplotlib
requests
streamlit
neo4j
python-dotenv